@use "_variables";

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.home__block-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.button__block {
  margin: 20px 0;
  padding: 30px;
  border: 3px solid $orange-dark;
  border-radius: 20px;
}

.home__gif {
  width: 45%;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .home__block {
    flex-direction: column;
  }
  .home__block-mini {
    width: 100%;
  }
}
