@use '_variables';

body {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}
 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.page {    
    font-family: 'Balsamiq Sans', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
}