
$lilac: #eca0b7;
$orange: #fe9b51;
$orange-dark: #fe724f;
$blue: #2e3abd;
$blue-dark: #291f9f;
$blue-light: #5386f7;
$red: #ee2427;
$yellow: rgb(255,225,87);
$grey: grey;
$green: #3ece90;
$new: rgb(115, 115, 115)